.colored:nth-child(3) {
    background: #cdfeca;
    background-image: url("../src/components/Page/images/img3.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 599px) {
        background-image: url("../src/components/Page/images/mobile3.png");
        background-position: center;
    }

    @media (min-width: 600px) and (orientation: portrait) {
        background-image: url("../src/components/Page/images/mobile3_land.png");
        background-position: center;
    }

    @media (min-width: 600px) {
        background-image: url("../src/components/Page/images/mobile3_min.png");
        background-position: center;
    }
}
